@use 'variables' as v;

.Sidebar {
  position: relative;
  transition: transform 0.3s ease, opacity 0.2s, width 0.2s, height 0.2s,
    box-shadow 0.2s, height 0.6s, top 0.2s, margin-right 0.5s, background-color 0.5s;
  opacity: 0;
  box-shadow: 5px 5px 9px 1px rgba(0, 0, 0, 0.3);
  z-index: 100;
  min-width: 265px;
  background-color: white;

  .header {
    height: 40px;
    margin: 0 auto;
    padding: 0px 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 18px;
      font-weight: bold;
    }

    .invisible-box {
      visibility: hidden;
      width: 50px;
      height: inherit;
    }

    .detach-btn-wrapper {
      display: flex;
      align-items: center;
      cursor: pointer;

      svg, img {
        color: #7b7b7b;
        transform: rotateZ(0deg);
        transition: transform 0.3s;
      }
    }
  }

  &.isDetached {
    transform: translateX(-265px);
    margin-right: 204px;
    width: 265px;
    top: 105px;
    height: 744px;
  }

  &.isAttached {
    top: 0;
    height: calc(100vh - 70px);
    margin-right: 196px;
    width: 300px;
    box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.2);
    background-color: #eee;

    .detach-btn-wrapper svg { transform: rotateZ(180deg); }
  }


  &.isVisible {
    transform: translateX(0px);
    opacity: 100;

    .hide-btn-container {
      width: 25px;
      right: -25px;
    }
  }

  .hide-btn-container {
    width: 150px;
    position: absolute;
    top: 0;
    height: 100%;
    right: -150px;
    transition: width 1s, right 1s;

    .hide-btn {
      width: 25px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-100%) rotateZ(180deg);
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;

      .hide-icn {
        margin-left: -5px;
        height: 25px;
        color: #b5b5b5;
      }
    }
  }

  @media screen and (max-width: v.$xl) {
    &.isDetached {
      margin-right: 102px;
    }
  
    &.isAttached {
      margin-right: 98px;
    }
  }

  @media screen and (max-width: v.$lg) {
    position: absolute;
    left: 0;
    box-shadow: 2px 2px 9px 1px rgba(0, 0, 0, 0.3);
    opacity: 100%;

    .hide-btn-container {
      width: 20px;
      right: -20px;
      
      .hide-btn {
        top: 5px;
        left: 0;
        transform: rotateZ(180deg);

        .hide-icn {
          height: 20px;
        }

        &:hover {
          .hide-icn {
            color: #f50015;
          }
        }
      }
    }

    &.isDetached {
      top: 80px;
    }
  }

  @media screen and (max-width: v.$med) {
    &.isDetached {
      top: 0px;
    }
  }
}
