.Todo {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;

  main {
    display: flex;
    align-items: center;
    user-select: none;

    .check {
      border: 1px solid;
      border-color: black;
      border-radius: 50%;
      width: 21px;
      height: 21px;
      cursor: pointer;
      transition: border .2s ease;
    }

    .Todo-name {
      margin-left: 22px;
    }
  }

  &:hover {
    main .check {
      border: 5px solid;
    }
  }

  &.completed {
    opacity: 50%;
  }

  &-due {
    display: flex;
    font-weight: 500;

    .icon-wrapper {
      display: flex;
      align-items: center;
      padding-right: 10px;
      
      svg,
      img {
        color: green;
        cursor: pointer;
        transform: scale(1);
        transition: transform 0.1s;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
